.prose :is(h1, h2, h3) {
  --flow-space: 2em;
}
.prose :is(h1, h2, h3) + * {
  --flow-space: 0.5em;
}

.prose :is(blockquote, ul, ol, pre) {
  --flow-space: 1.5em;
}
.prose :is(blockquote, ul, ol, pre) + * {
  --flow-space: 1.5em;
}

.prose :is(h1, h2, h3) {
  max-width: 30ch;
}
.prose :is(p, li, blockquote) {
  max-width: 55ch;
  text-wrap: pretty;
}

.prose .prose--sm {
  font-size: var(--step--1);
}
.prose .prose--sm li + li {
  margin-block-start: 1em;
}
