---
import MainLayout from '~/layouts/MainLayout.astro'
import CodeWalkthrough from '~/components/CodeWalkthrough.astro'
---

<MainLayout>
  <h1>Electric Dreams</h1>

  <p>
    Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque
    penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce
    dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut
    fermentum massa justo sit amet risus. Aenean lacinia bibendum nulla sed
    consectetur.
  </p>

  <CodeWalkthrough
    code={`
// Padding around the canvas.
var padding = 20

// Size of grid cells (cellSize x cellSize).
var cellSize = 40

// Probabiity of drawing an inner rectangle.
var chance = 0.8

function setup() {
  createCanvas(400, 400)
  rectMode(CENTER)
  noLoop()
}

function draw() {
  background(255)

  for (var y = padding; y < height - 2 * padding; y += cellSize) {
    for (var x = padding; x < width - 2 * padding; x += cellSize) {
      drawCell(x + cellSize/2, y + cellSize/2)
    }
  }
}

function drawCell(x, y) {
  push()
  translate(x, y)
  for (var size = 5; size <= cellSize; size += 5) {
    if (random() < chance) {
      noFill()
      rect(0, 0, size, size)  
    }
  }
  pop()
}`}
    steps={[
      {lines: [2, 5, 8]},
      {lines: [11, 12, 13]},
      {
        lines: [19, 20, 22, 23],
        highlights: ['padding', 'height - 2 * padding', 'width - 2 * padding']
      }
    ]}
  >
    <ol>
      <li>
        We start by defining a few constants to use in the sketch: a consistent
        <code>padding</code> inside the canvas, followed by <code>cellSize</code
        > for cell dimensions, and a percentage <code>chance</code> to control the
        probability of drawing an inner rectangle.
      </li>
      <li>
        Next, we setup the canvas as a 400 x 400 square. Notice the <code
          >rectMode(CENTER)</code
        > which ensures all rectangles are drawn from their center point. The <code
          >noLoop()</code
        > runs the draw once and stops.
      </li>
      <li>
        We use a double for loop pattern to draw each cell one by one. The <code
          >padding</code
        > around the canvas is handled when calculating the grid width and height.
      </li>
      <li>
        For each cell, we call a function named <code>drawCell</code> passing it
        the center of the square. Remember that <code>x</code> and <code>y</code
        > here are the top-left point of the rectangle.
      </li>
      <li>
        Inside the <code>drawCell</code> function, we setup up <code>push</code>
        and <code>pop</code> as usual and translate the coordinates to the passed
        <code>x</code> and <code>y</code> values.
      </li>
      <li>
        Using another for loop, we draw increasingly larger rectangles starting
        from a side length of 5 and incremented by 5. We use our <code
          >chance</code
        > variable here to determine if the rectangle is draw or not.
      </li>
    </ol>
  </CodeWalkthrough>

  <p>
    Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque
    penatibus et magnis dis <code>parturient</code> montes, nascetur ridiculus mus.
    Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
    massa justo sit amet risus. Aenean lacinia bibendum nulla sed consectetur.
  </p>

  <h2>Donec id elit non mi porta gravida at eget metus</h2>

  <p>
    Aenean eu leo quam. <a href="https://example.com">Pellentesque ornare sem</a
    >
    lacinia quam venenatis vestibulum. Morbi leo risus, porta ac consectetur ac,
    vestibulum at eros. Integer posuere erat a ante venenatis dapibus posuere velit
    aliquet. Nulla vitae elit libero, a pharetra augue. Maecenas sed diam eget risus
    varius blandit sit amet non magna.
  </p>

  <div class="autogrid my-m">
    <img src="https://cdn.priti.is/projects/urban-echoes/tn-01.webp" />
    <img src="https://cdn.priti.is/projects/urban-echoes/tn-01.webp" />
    <img src="https://cdn.priti.is/projects/urban-echoes/tn-01.webp" />
    <img src="https://cdn.priti.is/projects/urban-echoes/tn-01.webp" />
    <img src="https://cdn.priti.is/projects/urban-echoes/tn-01.webp" />
    <img src="https://cdn.priti.is/projects/urban-echoes/tn-01.webp" />
  </div>

  <p>
    Maecenas sed diam eget risus varius blandit sit amet non magna. Cras mattis
    consectetur purus sit amet fermentum. Nulla vitae elit libero, a pharetra
    augue. Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur.
    Curabitur blandit tempus porttitor.
  </p>

  <blockquote>
    <q
      >Cras justo odio, dapibus ac facilisis in, egestas eget quam. <strong
        >Sed posuere</strong
      > consectetur est at lobortis. Integer posuere erat a ante venenatis dapibus
      posuere velit aliquet.</q
    >
  </blockquote>

  <h3>Sed posuere consectetur est at lobortis</h3>

  <p>
    Fusce dapibus, <em>tellus ac cursus commodo</em>, tortor mauris condimentum
    nibh, ut fermentum massa justo sit amet risus. Morbi leo risus, porta ac
    consectetur ac, vestibulum at eros. Etiam porta sem malesuada magna mollis
    euismod. Nulla vitae elit libero, a pharetra augue.
  </p>

  <h2>Ut fermentum massa justo sit amet risus</h2>

  <p>
    Pellentesque habitant morbi tristique senectus et netus et malesuada fames
    ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget,
    tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean
    ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est
    et sapien ullamcorper pharetra.
  </p>

  <ul>
    <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elita</li>
    <li>Aliquam tincidunt mauris eu risus</li>
    <li>Vestibulum auctor dapibus neque</li>
  </ul>

  <p>
    Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi.
    Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci,
    sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar
    facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor
    neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat.
    Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.
  </p>

  <ol>
    <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elita</li>
    <li>Aliquam tincidunt mauris eu risus</li>
    <li>Vestibulum auctor dapibus neque</li>
  </ol>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam atque
    eveniet officiis aliquid nulla voluptatem, provident dolores reiciendis
    libero. Fugit officia possimus sed! Reiciendis eos quod, illo exercitationem
    tenetur doloribus.
  </p>
</MainLayout>
