---
import MainLayout from '~/layouts/MainLayout.astro'
import MolnarSquares from '~/sections/MolnarSquares.astro'
import NeesCubicDisarray from '~/sections/NeesCubicDisarray.astro'
---

<MainLayout>
  <h1>Electric Dreams</h1>

  <p>
    Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque
    penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce
    dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut
    fermentum massa justo sit amet risus. Aenean lacinia bibendum nulla sed
    consectetur.
  </p>

  <MolnarSquares />
  <NeesCubicDisarray />

  <p>
    Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque
    penatibus et magnis dis <code>parturient</code> montes, nascetur ridiculus mus.
    Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
    massa justo sit amet risus. Aenean lacinia bibendum nulla sed consectetur.
  </p>
</MainLayout>
