---
import '~/styles/main.css'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <!-- Tangle -->
    <script is:inline src="./libs/Tangle.js"></script>

    <!-- TangleKit -->
    <link rel="stylesheet" href="./libs/TangleKit/TangleKit.css" />
    <script is:inline src="./libs/TangleKit/mootools.js"></script>
    <script is:inline src="./libs/TangleKit/sprintf.js"></script>
    <script is:inline src="./libs/TangleKit/BVTouchable.js"></script>
    <script is:inline src="./libs/TangleKit/TangleKit.js"></script>

    <!-- P5 -->
    <script is:inline src="./libs/p5.min.js"></script>
    <title>Electric Dreams</title>
  </head>
  <body class="my-2xl-3xl">
    <article class="prose container flow">
      <slot />
    </article>
  </body>
</html>
